<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>SuperDry 匠 {{title}}</title>
		<link rel="stylesheet" href="{{assets}}/css/app.{{production}}.css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" ></script>

		{{#if donotindex}}
			<meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
		{{/if}}

	</head>
	<body>
		<div class="wrap-page-navigation">
			{{> navigation}}
		</div>
		<div class="wrap-page-content page-{{ basename }}">

			{{> body}}
		</div>
		<div class="wrap-page-footer">
			{{> footer}}
			{{> scripts}}
		</div>
	</body>
</html>