---
title: About
navorder: 2
published: true
donotindex: yes
---


<div class="wrap-page-section page-section-stage">
	<section>
		<h1 class="flush-top">
			<div class="rslides_container">
				<ul class="rslides" id="slider1">
					<li><img src="http://placehold.it/288/2b2b2b/f5f5f5"></li>
					<li><img src="http://placehold.it/288/d34836/f5f5f5"></li>
				</ul>
			</div>
		</h1>
		<article>
			<h1 class="reef flush-top">About!</h1>
			<p class="reef">
				<div class="rslides_container">
					<ul class="rslides" id="slider2">
						<li>So Sipmle</li>
						<li>So Sleek</li>
						<li>So Dry</li>
					</ul>
				</div>
			</p>
			<p class="reef"><a href="http://assemble.io/docs/" class="button large">Read the Assemble documentation &raquo;</a></p>
		</article>
	</section>
</div>


