---
title: Index
navorder: 1
published: true
donotindex: false
---


<div class="wrap-page-section page-section-stage">
	<section>
		<h1 class="flush-top"><img src="http://forhumans.co/superdry/superdry.png"></h1>
		<article>
			<h1 class="reef flush-top">Hello, world!</h1>
			<p class="reef">You are using SuperDry.</p>
			<p class="reef"><a href="http://assemble.io/docs/" class="button large">Read the Assemble documentation &raquo;</a></p>
		</article>
	</section>
</div>


