<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>SuperDry 匠 {% block title %}{% endblock %}</title>
		{{ 
		<link rel="stylesheet" type="text/css" href="assets/css/app.css">
		{{ "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"
		<!-- TODO: Complete this project :) -->
	</head>
	<body>
		<div class="wrap-page-navigation">
			{% include "navigation" %}
		</div>
		<div class="wrap-page-content page-xx">

			<div class="wrap-page-section page-section-stage">
				<section>
					<h1><img src="http://forhumans.co/superdry/superdry.png" alt=""></h1>
					<article>
						<h1 class="flush-top">Hello, world!</h1>
						<p>You are using SuperDry.</p>
					</article>

				</section>
			</div>
			<div class="wrap-page-section page-section-slideshow">
				<div class="rslides_container">
					<ul class="rslides" id="slider1">
						<li>{{ "1400x600" | placeholder:'bbbbbb' | image_tag:'Img 1' }}</li>
						<li>{{ "1400x600" | placeholder:'888888' | image_tag:'Img 2' }}</li>
						<li>{{ "1400x600" | placeholder:'eeeeee' | image_tag:'Img 3' }}</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="wrap-page-footer">
			{% include "footer" %}
			{% include "scripts" %}
		</div>
	</body>
</html>