<nav>
	<ul>
		{{#withSort pages "data.navorder"}}
			<li{{#is ../page.dest this.dest}} class="active"{{/is}}>
				<a href="{{relative ../page.dest this.dest}}">{{ capitalizeFirst data.title}}</a>
			</li>
		{{/withSort}}
	</ul>
</nav>